.my-icon {
    background-image: url('./../asset/marker.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }